
<form id="contact-form" method="post" 
	action="https://profiler.good-loop.com/form/invest-in-change.com" role="form">
	<div class="row">
		<div class="col">
			<input type="email" name="email" class="form-control" placeholder="Type Email" 
				required="required" data-error="Valid email is required.">
		</div>
		<button class="btn" type="submit">Sign up</button>
	</div>
</form>
Max one email per month with news and selected opportunities. You can unsubscribe anytime.
We will keep your data private.

