<!-- See fixed-header applied by theme-script.js -->
<header class="site-header">
    <div id="header-wrap">
        <div class="container">
            <div class="row align-items-center">
                <!--logo start-->
                <div class="col-md-3">
                    <div class="logo">
                        <a href="index.html">
                            <img id="logo-img" src="img/invest-logo.svg" alt="">
                            <!-- logo editor https://preview.freelogodesign.org/?lang=en&name=Invest%20in%20%20%20%20Change&logo=bb7e6758-50a0-4f4e-ab2b-9c1c2d7c17b7 -->
                        </a>
                    </div>
                </div>
                <!--logo end-->
                <!--menu start-->
                <div class="col-md-9">
                    <!-- nav bar stays open which looks broken on mobile, so hide it -->
                    <nav class="navbar navbar-expand-md text-right d-none d-md-block">
                        <button class="navbar-toggler" type="button" data-toggle="collapse-off" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse-off navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/#home">
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#about">
                                        <span>About</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#faq">
                                        <span>FAQ</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#resources">
                                        <span>Resources</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#contact-us">
                                        <span>Contact us</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!--menu end-->
            </div>
        </div>
    </div>
</header>
